:root {
    --main-font: "Inter";
    --accent-font: "PressStart2P";
    --main-text-weight: 400;
    --title-text-weight: 785;
    --grid-color: #d3d3d3;
    --gradient-start: #e7e7e7;
    --gradient-end: #1a1a1a;
    --page-background: repeating-linear-gradient(
        90deg,
        var(--grid-color) 0 2px,
        transparent 2px 4px
    ),
    repeating-linear-gradient(
        180deg,
        var(--grid-color) 0 2px,
        transparent 2px 4px
    ),
    linear-gradient(
        180deg,
        var(--gradient-start) 0.01%,
        var(--gradient-end) 100%
    );
    --content-width: clamp(320px, 100%, 700px);
    --accent-color: #000000;
    --text-stroke-color:#ffffff;
    --animation-fill-color: #ff0000;
}